<strong>1. Acceptation des conditions</strong>

<p>En vous inscrivant, en accédant ou en utilisant notre site Web, vous confirmez que vous avez lu, compris et accepté d'être lié par ces conditions. Si vous avez moins de 18 ans, vous devez obtenir l'autorisation d'un parent ou d'un tuteur légal pour utiliser ce site Web.</p>
<strong>2. Inscription et compte</strong>

<ul> <li>Vous devez créer un compte pour accéder à certaines fonctionnalités du site Web. Vous êtes responsable de la confidentialité des informations de votre compte.</li> <li>Vous devez fournir des informations exactes, complètes et à jour lors du processus d'inscription. Tout manquement à cette obligation peut entraîner la suspension ou la résiliation de votre compte.</li> <li>Vous êtes responsable de toutes les activités effectuées via votre compte.</li> </ul>
<strong>3. Utilisation du site Web</strong>

<ul> <li>Le site Web vous permet de jouer à une version numérique du jeu Pong.</li> <li>Vous acceptez d'utiliser le site Web uniquement à des fins légales et conformément à ces conditions.</li> <li>Vous vous engagez à ne pas utiliser le site Web d'une manière qui pourrait endommager, désactiver, surcharger ou altérer le site Web, ou interférer avec l'utilisation et la jouissance du site Web par d'autres utilisateurs.</li> </ul>
<strong>4. Acceptation des cookies</strong>

<ul> <li>En vous inscrivant et en créant un compte sur le site Web, vous acceptez notre utilisation des cookies comme décrit dans notre politique de confidentialité.</li> <li>Les cookies sont utilisés pour améliorer votre expérience sur le site Web, optimiser les performances et analyser le trafic du site Web.</li> <li>Vous pouvez gérer vos préférences en matière de cookies via les paramètres de votre navigateur, mais veuillez noter que certaines fonctionnalités du site Web peuvent ne pas fonctionner correctement si les cookies sont désactivés.</li> </ul>

<strong>5. RGPD : Protection des données et confidentialité</strong>
<ul>
    <li>Nous collectons votre adresse e-mail à des fins d'identification de compte. De plus, nous utilisons un cookie de session persistant qui reste sur votre appareil même après la fermeture de votre navigateur, ce qui nous permet de maintenir l'état de votre session lors de vos visites sur notre site web.</li>
    <li>Conformément au Règlement Général sur la Protection des Données (RGPD), vous disposez d'un ensemble complet de droits concernant vos données personnelles, y compris le droit d'accéder, de corriger, de supprimer, de restreindre le traitement et de transférer vos données à un autre fournisseur de services. Le traitement de votre adresse e-mail et des données de session est effectué sur la base de votre consentement explicite donné via ce formulaire, ainsi que de notre intérêt légitime à fournir un fonctionnement approprié du site web et à répondre de manière adéquate à vos demandes et requêtes.</li>
    <li>Nous mettons en œuvre des mesures de sécurité appropriées pour protéger vos informations personnelles, ne les partageons avec aucune organisation tierce et ne conservons ces données que pendant la durée nécessaire pour atteindre les objectifs pour lesquels elles ont été initialement collectées. Le cookie de session que nous employons persistera sur votre appareil jusqu'à ce qu'il atteigne sa date d'expiration désignée ou jusqu'à ce que vous le supprimiez manuellement dans les paramètres de votre navigateur.</li>
    <li>Si vous souhaitez exercer l'un de vos droits en matière de protection des données ou si vous avez des questions concernant nos pratiques en matière de données, l'adresse de contact RGPD se trouve dans le pied de page du site web. Nous nous engageons à traiter toutes les demandes légitimes dans un délai d'un mois à compter de leur réception.</li>
</ul>

<strong>6. Propriété intellectuelle</strong>
<ul> <li>Tous les contenus, graphiques, designs et autres éléments du site Web sont la propriété de Pong Website ou de ses concédants et sont protégés par les lois sur la propriété intellectuelle.</li> <li>Vous ne pouvez pas copier, reproduire, modifier ou distribuer tout contenu du site Web sans notre consentement écrit préalable.</li> </ul>
<strong>7. Conduite interdite</strong>

<ul> <li>Vous acceptez de ne pas vous engager dans les activités interdites suivantes :</li> <ul> <li>Violer toute loi, règle ou réglementation applicable.</li> <li>Hacker, phishing ou tenter d'accéder de manière non autorisée au site Web ou aux comptes d'autres utilisateurs.</li> <li>Télécharger ou transmettre des virus, des logiciels malveillants ou d'autres codes nuisibles.</li> <li>Utiliser le site Web à des fins commerciales sans notre autorisation expresse.</li> </ul> </ul>
<strong>8. Résiliation</strong>

<p>Nous nous réservons le droit de résilier ou de suspendre votre compte et votre accès au site Web à notre discrétion, sans préavis, en cas de conduite que nous jugeons contraire à ces conditions, nuisible pour d'autres utilisateurs ou inappropriée.</p>
<strong>9. Exclusion de garanties</strong>

<p>Le site Web est fourni "tel quel" et "tel que disponible". Nous ne garantissons pas, explicitement ou implicitement, le fonctionnement, la disponibilité ou votre capacité à accéder et utiliser le site Web. Nous ne garantissons pas que le site Web sera exempt d'erreurs, de virus ou d'autres composants nuisibles.</p>
<strong>10. Limitation de responsabilité</strong>

<p>Pong Website, ses affiliés et ses partenaires ne seront pas responsables des dommages, y compris mais sans s'y limiter, les dommages directs, indirects, accessoires ou consécutifs, découlant de ou liés à votre utilisation du site Web.</p>
<strong>11. Modifications des conditions</strong>

<p>Nous nous réservons le droit de modifier ces conditions à tout moment. Les modifications seront effectives immédiatement après leur publication sur le site Web. Votre utilisation continue du site Web après toute modification constitue votre acceptation des conditions révisées.</p>
<strong>12. Loi applicable</strong>

<p>Ces conditions sont régies et interprétées conformément aux lois de [Insérer la juridiction], sans égard à ses principes de conflits de lois. Tout litige découlant de ou lié à ces conditions sera résolu devant les tribunaux de [Insérer la juridiction].</p>
<strong>13. Informations de contact</strong>

<p>Si vous avez des questions ou des préoccupations concernant ces conditions, veuillez nous contacter à <a href="">info@webmaster</a>.</p>