<strong>1. 𓅷</strong>
<p>𓅾 𓌬</p>
<p>𓂼 𓎁 𓇍 𓏎</p>

<strong>2. 𓀬</strong>
<ul>
    <li>𓀐𓀑</li>
    <li>𓆑</li>
</ul>

<strong>3. 𓃚 𓂸</strong>
<ul>
    <li>𓀗</li>
    <li>𓀭</li>
    <li>	𓁣	𓁤	𓁥	𓁦	𓁧	𓁨	𓁩	𓁪	𓁫	𓁬	𓁭</li>
</ul>


<strong>4. 𓉔 𓏏𓉔𓂝𓇌 𓄿𓂋𓂝 𓂝𓆑𓏏𓇋𓂋𓂝𓃭𓇌 𓆑𓍯𓆑𓋴𓂝𓆑𓋴</strong>
<ul>
    <li>𓂝 𓉔</li>
    <li>𓍯𓃭𓍯𓎂𓇌 𓆑𓍯𓂋 𓏏𓂋𓄿𓆑𓋴𓃭𓄿𓏏𓇋𓆑𓎂 𓄿𓃀𓋴𓏏𓂋𓄿𓋴𓏏 𓋴𓍯𓆑𓋴𓂝𓊪𓏏𓋴 𓇋𓆑𓏏𓍯 𓆑𓇋𓋴𓅱𓄿𓃭 𓂋𓂝𓊪𓂋𓂝𓋴𓂝𓆑𓏏𓄿𓏏𓇋𓍯𓆑𓋴. 𓏏𓉔𓂝 𓋴𓇌𓋴𓏏𓂝𓅓, 𓎡𓆑𓍯𓅱𓆑 𓄿𓋴</li>
    <li>𓅃𓀀𓏏𓆓𓇋𓄿 𓃭𓊪𓄿𓂧𓅱 𓆑𓆓𓏏𓋴𓄿𓇌 𓇋𓅓𓀀𓂝𓏏 𓆑𓍯𓂋𓅓𓄿𓃭𓇋𓏏𓇌 𓊪𓍯𓍯𓆑𓋴𓉔𓄿𓂋𓄿𓋴 𓂧𓂝𓆑𓂝𓃭𓍯𓊪𓂝𓂧 𓄿 𓆑𓂝𓅱 𓅓𓂝𓏏𓉔𓍯𓂧 𓉔𓇋𓂝𓂋𓍯𓎂𓃭𓇌𓊪𓉔𓇋𓋴 𓏏𓂋𓄿𓆑𓋴𓆑𓍯𓂋𓅓𓂝𓂋, 𓋴𓍯𓅓𓃀𓇋𓆑𓂝𓋴 𓄿𓆑𓋴𓇋𓂝𓆑𓏏 𓋴𓇌𓅓𓃀𓍯𓃭𓋴 𓅱𓇋𓏏𓉔 𓅓𓍯𓂧𓂝𓂋𓆑 𓄿𓃭𓎂𓍯𓂋𓇋𓏏𓉔𓅓𓋴 𓏏𓍯 𓋴𓂋𓂝𓄿𓏏𓂝 𓅱𓉔𓄿𓏏 𓄿𓊪𓊪𓂝𓄿𓂋𓋴 𓏏𓍯 𓃀𓂝 𓄿𓅱𓏏𓉔𓂝𓆑𓏏𓇋𓋴 𓄿𓆑𓋴𓇋𓂝𓆑𓏏 𓏏𓂝𓐍𓏏𓋴, 𓄿𓃭𓏏𓉔𓍯𓅱𓎂𓉔 𓏏𓉔𓂝𓇌 𓄿𓂋𓂝 𓂝𓆑𓏏𓇋𓂋𓂝𓃭𓇌 𓆑𓍯𓆑𓋴𓂝𓆑𓋴𓇋𓋴𓄿𓃭 𓏏𓍯 𓃭𓇋𓆑𓎂𓅱𓇋𓋴𓏏𓇋𓋴 𓋴𓋴𓉔𓍯𓃭𓄿𓂋𓋴.</li>
</ul>

<strong>5. 𓎂𓄿𓏏𓄿 𓊪𓂋𓍯𓏏𓂝𓏭𓇋"RGPD"𓍯𓆑 𓄿𓆑𓂧 𓊪𓂋𓇋𓆑𓄿𓋴𓇋</strong>
<ul>
    <li>𓅱𓂝 𓋴𓍯𓃭𓃭𓂝𓋴𓏏 𓇌𓍯𓅱𓂋 𓂝𓅓𓄿𓇋𓃭 𓄿𓂧𓂧𓂋𓂝𓋴𓋴 𓆑𓍯𓂋 𓏏𓉔𓂝 𓊪𓅱𓂋𓊪𓍯𓋴𓂝 𓍯𓆑 𓄿𓋴𓋴𓍯𓅱𓆑𓏏 𓇋𓂧𓂝𓆑𓏏𓇋𓆑𓇋𓋴𓄿𓏏𓇋𓍯𓆑. 𓄿𓂧𓂧𓇋𓏏𓇋𓍯𓆑𓄿𓃭𓃭𓇌, 𓅱𓂝 𓅱𓏏𓇋𓃭𓇋𓎛𓂝 𓄿 𓊪𓂝𓂋𓋴𓇋𓋴𓏏𓂝𓆑𓏏 𓋴𓂝𓋴𓋴𓇋𓍯𓆑 𓋴𓍯𓍯𓎡𓇋𓂝 𓏏𓉔𓄿𓏏 𓂋𓂝𓅓𓄿𓇋𓆑𓋴 𓍯𓆑 𓇌𓍯𓅱𓂋 𓂧𓂝𓆑𓇋𓋴𓂝.</li>
    <li>𓇋𓆑 𓄿𓋴𓋴𓍯𓂋𓂧𓄿𓆑𓋴𓂝 𓅱𓇋𓏏𓉔 𓏏𓉔𓂝 𓎂𓂝𓆑𓂝𓂋𓄿𓃭 𓄿𓏏𓄿 𓊪𓂋𓍯𓏏𓂝𓋴𓏏𓇋𓍯𓆑 𓂋𓂝𓎂𓅱𓃭𓄿𓏏𓇋𓍯𓆑, 𓇌𓍯𓅱 𓄿𓂋𓂝 𓂝𓆑𓏏𓇋𓏏𓃭𓂝𓂧 𓏏𓍯 𓄿 𓋴𓍯𓅓𓊪𓂋𓂝𓉔𓂝𓆑𓋴𓇋𓆑𓂝 𓋴𓂝𓏏 𓍯𓆑 𓂋𓇋𓎂𓉔𓏏𓋴 𓂋𓂝𓎂𓄿𓂋𓂧𓇋𓆑𓎂 𓇌𓍯𓅱𓂋 𓊪𓂝𓂋𓋴𓍯𓆑𓄿𓃭 𓂧𓄿𓏏𓄿.</li>
    <li>𓅱𓂝 𓇋𓅓𓊪𓃭𓂝𓅓𓂝𓆑𓏏 𓄿𓊪𓊪𓂋𓍯𓊪𓂋𓇋𓄿𓏏𓂝 𓋴𓂝𓋴𓅱𓂋𓇋𓏏𓇌 𓅓𓂝𓄿𓋴𓅱𓂋𓂝𓋴 𓏏𓍯 𓊪𓂋𓍯𓏏𓂝𓋴𓏏 𓇌𓍯𓅱𓂋 𓊪𓂝𓂋𓋴𓍯𓆑𓄿𓃭 𓇋𓆑𓆑𓍯𓂋𓅓𓄿𓏏𓇋𓍯𓆑, 𓂧𓍯 𓆑𓍯𓏏 𓋴𓉔𓄿𓂋𓂝 𓇋𓏏 𓅱𓇋𓏏𓉔 𓄿𓆑𓇌 𓏏𓉔𓇋𓂋𓂧-𓊪𓄿𓂋𓏏𓇌 𓍯𓂋𓎂𓄿𓆑𓇋𓎛𓄿𓏏𓇋𓍯𓆑𓋴.</li>
    <li>𓋴𓉔𓍯𓅱𓃭𓂧 𓇌𓍯𓅱 𓅱𓇋𓋴𓉔 𓏏𓍯 𓂝𓐍𓂝𓂋𓋴𓇋𓋴𓂝 𓄿𓆑𓇌 𓍯𓆑 𓇌𓍯𓅱𓂋 𓂧𓄿𓏏𓄿 𓊪𓂋𓍯𓏏𓂝𓋴𓏏𓇋𓍯𓆑 𓂋𓇋𓎂𓉔𓏏𓋴 𓍯𓂋 𓉔𓄿𓆑𓂝 𓊄𓅱𓂝𓋴𓏏𓇋𓍯𓆑𓋴, 𓏏𓉔𓂝 𓋴𓍯𓆑𓏏𓄿𓋴𓏏 𓄿𓂧𓂧𓂋𓂝𓋴𓋴 𓋴𓄿𓆑 𓃀𓂝 𓆑𓍯𓅱𓆑𓂧 𓇋𓆑 𓏏𓉔𓂝 𓆑𓍯𓍯𓏏𓂝𓂋 𓍯𓆑 𓏏𓉔𓂝 𓅱𓂝𓃀𓋴𓇋𓏏𓂝.</li>
</ul>