<strong>1. Прийняття умов</strong>

<p>Реєструючись, отримуючи доступ або використовуючи наш вебсайт, ви підтверджуєте, що прочитали, зрозуміли та погоджуєтесь дотримуватись цих Умов. Якщо вам менше 18 років, ви повинні мати дозвіл батьків або законного опікуна для використання цього вебсайту.</p>
<strong>2. Реєстрація та акаунт</strong>

<ul> <li>Ви повинні створити акаунт, щоб отримати доступ до певних функцій вебсайту. Ви несете відповідальність за збереження конфіденційності інформації вашого акаунта.</li> <li>Під час реєстрації ви повинні надати точну, повну та актуальну інформацію. Недотримання цієї вимоги може призвести до призупинення або видалення вашого акаунта.</li> <li>Ви несете відповідальність за всі дії, здійснені через ваш акаунт.</li> </ul>
<strong>3. Використання вебсайту</strong>

<ul> <li>Вебсайт дозволяє вам грати в цифрову версію гри Pong.</li> <li>Ви погоджуєтеся використовувати вебсайт виключно в законних цілях і відповідно до цих Умов.</li> <li>Ви погоджуєтесь не використовувати вебсайт у спосіб, який може пошкодити, відключити, перевантажити або порушити його роботу, або заважати використанню вебсайту іншими користувачами.</li> </ul>
<strong>4. Прийняття файлів cookie</strong>

<ul> <li>Реєструючись та використовуючи вебсайт, ви погоджуєтеся на використання нами файлів cookie, як описано в нашій Політиці конфіденційності.</li> <li>Файли cookie використовуються для покращення вашого досвіду на вебсайті, підвищення продуктивності та аналізу трафіку вебсайту.</li> <li>Ви можете керувати налаштуваннями файлів cookie через налаштування вашого браузера. Однак деякі функції вебсайту можуть працювати некоректно, якщо файли cookie вимкнені.</li> </ul>


<strong>5. GDPR: Захист даних та конфіденційність</strong>
<ul>
    <li>Ми збираємо вашу електронну адресу з метою ідентифікації облікового запису. Крім того, ми використовуємо постійний файл cookie сеансу, який залишається на вашому пристрої навіть після закриття браузера, що дозволяє нам підтримувати стан вашого сеансу під час відвідування нашого веб-сайту.</li>
    <li>Відповідно до Загального регламенту про захист даних (GDPR), ви маєте вичерпний набір прав щодо ваших персональних даних, включаючи право на доступ, виправлення, видалення, обмеження обробки та передачу ваших даних іншому постачальнику послуг. Обробка вашої електронної адреси та даних сеансу здійснюється на підставі вашої явної згоди з цієї форми, а також нашого законного інтересу щодо забезпечення належного функціонування веб-сайту та відповідного реагування на ваші запити та звернення.</li>
    <li>Ми впроваджуємо відповідні заходи безпеки для захисту вашої особистої інформації, не передаємо її жодним стороннім організаціям і зберігаємо ці дані лише протягом часу, необхідного для досягнення цілей, для яких вони були спочатку зібрані. Файл cookie сеансу, який ми використовуємо, залишатиметься на вашому пристрої до досягнення встановленої дати закінчення терміну дії або до моменту, коли ви вручну видалите його з налаштувань браузера.</li>
    <li>Якщо ви бажаєте скористатися будь-яким із ваших прав на захист даних або маєте питання щодо наших практик обробки даних, адресу контакту GDPR можна знайти в нижньому колонтитулі веб-сайту. Ми зобов'язуємося розглядати всі законні запити протягом одного місяця з моменту отримання.</li>
</ul>
<strong>6. Інтелектуальна власність</strong>

<ul> <li>Увесь контент, графіка, дизайн та інші матеріали на вебсайті є власністю Pong Website або його ліцензіарів і захищені законами про інтелектуальну власність.</li> <li>Ви не можете копіювати, відтворювати, змінювати чи поширювати будь-який контент з вебсайту без нашої попередньої письмової згоди.</li> </ul>
<strong>7. Заборонена поведінка</strong>

<ul> <li>Ви погоджуєтесь не здійснювати такі заборонені дії:</li> <ul> <li>Порушення будь-якого чинного закону, правила або регулювання.</li> <li>Хакерство, фішинг або спроби несанкціонованого доступу до вебсайту або акаунтів інших користувачів.</li> <li>Завантаження чи передача вірусів, шкідливого програмного забезпечення або іншого шкідливого коду.</li> <li>Використання вебсайту в комерційних цілях без нашого чіткого дозволу.</li> </ul> </ul>
<strong>8. Припинення доступу</strong>

<p>Ми залишаємо за собою право призупинити або видалити ваш акаунт і доступ до вебсайту на власний розсуд без попередження, якщо ми вважаємо, що ваша поведінка порушує ці Умови, шкодить іншим користувачам або є неприйнятною.</p>
<strong>9. Відмова від гарантій</strong>

<p>Вебсайт надається "як є" і "як доступно". Ми не надаємо жодних гарантій, явних чи неявних, щодо роботи вебсайту, його доступності або вашої можливості використовувати вебсайт. Ми не гарантуємо, що вебсайт буде без помилок, вірусів чи інших шкідливих компонентів.</p>
<strong>10. Обмеження відповідальності</strong>

<p>Pong Website, його афілійовані компанії та партнери не несуть відповідальності за будь-які збитки, включаючи, але не обмежуючись, прямі, непрямі, випадкові чи наслідкові збитки, що виникають у зв'язку з вашим використанням вебсайту.</p>
<strong>11. Зміни до умов</strong>

<p>Ми залишаємо за собою право змінювати ці Умови в будь-який час. Зміни набувають чинності одразу після їх публікації на вебсайті. Подальше використання вебсайту після внесення змін означає вашу згоду з оновленими Умовами.</p>
<strong>12. Застосовне право</strong>

<p>Ці Умови регулюються та тлумачаться відповідно до законів [Вкажіть юрисдикцію], без урахування принципів конфлікту законів. Будь-які спори, що виникають у зв'язку з цими Умовами, вирішуються в судах [Вкажіть юрисдикцію].</p>
<strong>13. Контактна інформація</strong>

<p>Якщо у вас є запитання або занепокоєння щодо цих Умов, звертайтеся до нас за адресою <a href="">info@webmaster</a>.</p>